/* Fonts */

@font-face {
    font-family: 'NexaLight';
    src: url('../Fonts/NexaLight.ttf.woff') format('woff'),
        url('../Fonts/NexaLight.ttf.svg#NexaLight') format('svg'),
        url('../Fonts/NexaLight.ttf.eot'),
        url('../Fonts/NexaLight.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* Loader */

.indexpreloader {
    .loader_bg {
        position: fixed;
        z-index: 999999;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
    }

    .loader {
        border: 0 soild transparent;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        position: absolute;
        top: calc(50vh - 75px);
        left: calc(50vw - 75px);
    }

    .loader:before,
    .loader:after {
        content: '';
        border: 1em solid whitesmoke; //#591203;
        border-radius: 50%;
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        animation: loader 2s linear infinite;
        opacity: 0;
    }

    .loader:before {
        animation-delay: .5s;
    }

    @keyframes loader {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}


/* Navbar Brand */
.navbar {
    font-family: 'NexaLight';
    font-weight: bold;
    color: white;
}

// Animation Try

.animate {
    animation: transitionIn 0.75s;
    color: whitesmoke;
    font-family: NexaLight;
    font-size: 32px;
    text-align: justify;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Body */
.home-body {
    background-image: url("../Images/DefaultBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.about-body {
    background-image: url("../Images/aboutusbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contact-body {
    background-image: url("../Images/contactusbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.donation-body {
    background-image: url("../Images/donatenewbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.gallery-body {
    background-image: url("../Images/gallerybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Home Body */
.indexmaindiv {
    font-family: 'NexaLight', Nexa, serif;
    margin-top: 20%;
    text-align: left;

    .indexline1 {
        text-align: left;
        color: gold;
        font-size: larger;
    }

    .indexline2 {
        text-align: left;
        color: rgb(241, 173, 173);
        word-spacing: -4px;
        font-size: 50px;
        font-weight: bold;
    }

    .indexline3 {
        text-align: left;
        color: whitesmoke
    }

    .donatebtn {
        margin-top: 40px;
        width: 43%;

    }

}

/* Donate Body */
.donatemaindiv {
    font-family: 'NexaLight', Nexa, serif;
    text-align: center;
    justify-items: center;

    .donatebox {
        margin-top: 130px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 15em;
        padding: 10px;
        height: 8em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;

        .donatetextarea {
            margin-top: 2em;

        }

        .razorpaybtn {
            margin-top: 1em;
        }

    }
}

/* Gallery Body*/

.gallery-box {
    .gallerytxt {
        text-align: center;
        font-size: 50px;
        text-shadow: 5px;
        margin-bottom: 8px;
        font-weight: bold;
        color: rgb(235, 222, 245);
    }

    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 25em;
    height: 8em;
    border-radius: 10px;
}

/* About Body */

.aboutmaindiv {
    font-family: 'NexaLight', Nexa, serif;
    // text-align: left;
    justify-items: center;


    .aboutbox {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 35em;
        padding: 10px;
        height: 14.5em;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 10px;

        .abouttitle {
            color: rgb(255, 0, 0);
            margin: 0.5em;
            font-weight: bold;
        }

        .abouttxt {
            align-items: center;
            margin-top: 0.5em;
            margin-left: 0.5em;
            margin-top: 0.25em;
            margin-right: 0.5em;
            font-size: 25px;
            text-justify: distribute-all-lines;
        }

        .aboutquote {
            margin-left: 0.5em;
            color: aquamarine;
        }

    }
}

/* Contact Us */

.contactuscard{

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 800px;
    height: auto;
    .card-header{
        height:fit-content;
        font-size: large;
        background-color: rgba(0, 0, 0,0.8);
    }
    .card-body{
        font-size: large;
        color: black;
        
    }
    .submitbtndiv{
        text-align: center;
        .submitbtn{
            width: 50%;
        }
    }
}


/* Footer */

footer {
    /* background-color: aliceblue; */
    font-family: 'NexaLight';
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 600px) {
    .home-body {
        background-image: url("../Images/DefaultBg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .donation-body {
        background-image: url("../Images/donatenewbg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .about-body {
        background-image: url("../Images/aboutusbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .contact-body {
        background-image: url("../Images/contactusbg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .gallery-body {
        background-image: url("../Images/gallerybg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
}

@media(max-width: 600px) {
    .indexmaindiv {
        margin-top: 75%;

        .indexline1 {
            text-align: left;
            color: gold;
            font-size: smaller;
        }

        .indexline2 {
            text-align: left;
            color: rgb(241, 173, 173);
            // word-spacing: -4px;
            font-size: larger;
        }

        .indexline3 {
            text-align: left;
            font-size: large;
            color: whitesmoke
        }

        .donatebtn {
            width: 80%
        }

        text-align: center;
    }
}

@media (max-width:650px) {
    .donatemaindiv {
        font-family: 'NexaLight', Nexa, serif;
        text-align: center;
        justify-items: center;
        font-size: 30px;

        .donatebox {
            margin-top: 180px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            width: 10em;
            padding: 10px;
            height: 8em;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 10px;

            .donatetextarea {
                margin-top: 1em;

            }

            .razorpaybtn {
                margin-top: 1em;
            }

        }
    }
}

@media (max-width: 600px) {
    .gallery-box {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: auto;
        padding: 10px;
        height: 8em;
        border-radius: 10px;
    }
}

@media(max-width:800px){
    .contactuscard{

        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        width: auto;
        height: auto;
        .card-header{
            height:fit-content;
            font-size: medium;
            background-color: rgba(0, 0, 0,0.8);
        }
        .card-body{
            font-size: medium;
            color: black;
            
        }
    }
    
}